<nav>
    <ul>
        <li><a href="/">Головна</a></li>
        <li><a href="/api/products?auth=true">Товари</a></li>
        <li><a href="/api/products/search?auth=true&name=">Пошук товарів</a></li>
        <li><a href="/api/orders">Замовлення</a></li>
        <li><a href="/api/dashboard/stats">Статистика</a></li>
        <li><a href="/api/dashboard/report">Звіт</a></li>
    </ul>
</nav>
